body{
    margin: 0;
    background: black;
}
.d-block{
    height: 100vh;
}
.d1{
    height: 70vh;
    width: 100%;
}
.hover{
    width: 100%;
    overflow: hidden;
    height: 50%;
}
.card{
    transition: 1s;
}
.hover img{
    width: 100%;
    height: 100%;
}
.btn:hover{
    transition: 1s;
    background-color: blue;
}
.card:hover .hover img{
    transform: scale(1.5);
    transition: 1s;
}
#anim0{
    width: 100%;
    height: auto;
    background: url('http://3.bp.blogspot.com/-XbViyiMj5LU/WHzRUUH7FRI/AAAAAAAAAS8/JuVJZF-vZlss3eZmXy8TfVh76gsW4PmHwCK4B/s1600/jWQ40lR.jpg') center / cover fixed;
}